.home_container {
    background-image: url(/src/materialImg/fondoHome2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 15rem;
    width: auto;
}

.img {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_title {
    font-size: 70px;
    color: #D93F3F;
    border-color: black;
    text-align: center;
    font-weight: bold;
}

.home_saludo {
    margin-top: 5%;
    font-size: 2rem;
    text-align: center;
    width: auto;
}

.home_parrafo {
    margin-top: 3%;
    text-align: center;
    width: auto;
    font-size: 1.1rem;
    padding: 2rem;
}

.home_formulario {
    margin-top: 0.5%;
    text-align: center;
    font-size: 3rem;
}

.home_btn {
    background-color: #D93F3F;
}

/* Media Query para hacerlo responsive */
@media (max-width: 768px) {
    .home_container {
        padding: 15rem 2rem; /* Ajustar el relleno en pantallas más pequeñas */
        background-size: 100% 100%; /* Ajustar el tamaño de la imagen de fondo */
    }

    .home_title {
        font-size: 40px;
    }

    .home_saludo {
        font-size: 1.5rem;
    }

    .home_parrafo {
        font-size: 1rem;
        padding: 1rem;
    }

    .home_formulario {
        font-size: 2rem;
    }
    
    /* Ajuste para evitar desbordamiento */
    .home_container,
    .home_parrafo,
    .home_formulario {
        max-width: 100%;
        overflow: hidden;
    }
}

/* Media Query para dejar la imagen estática */
@media (max-width: 772px) and (max-height: 690px) {
    .home_container {
        background-attachment: initial;
        background-size: auto;
    }
}
