/* Estilos para la imagen de fondo */
.home_container {
    background-image: url(/src/materialImg/newImgHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  /* Estilos para el contenedor principal */
  .home_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilos para el subcontenedor */
  .home_subcontainer {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 28px;
    text-align: center;
    border-radius: 2rem;
  }
  
  /* Estilos para el título */
  .home_title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el saludo */
  .home_saludo {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el párrafo */
  .home_parrafo {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario */
  .home_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para el campo de entrada de texto */
  .home_input {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón */
  .home_btn {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para el modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal_content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
  }
  
  .modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  